// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  height: 100%;
}

.diary-image {
  overflow: hidden;

  img {
    height: 250px;
    width: auto;
    max-width: 100%;
  }
}

.snapkin-photo {
  padding: 15px;
  box-shadow: 5px 5px 18px 10px rgba(200, 200, 200, 0.4);
}

.diary-form-cotent {
  height: 300px;
}