// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  height: 100%;
}

.diary_image {
  overflow: hidden;

  img {
    height: 250px;
    width: auto;
    max-width: 100%;
  }
}