html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-90deg, #FAFAFA, #F5F5F5);

  header.snapkin-header-background.uk-navbar-container {
    background-image: linear-gradient(-90deg, #BBFF4D, #4DF6FF);
    min-height: 60px;
  }

  header {
    ul {
      li {
        a.snapkin-header-list{
          color: #fff;
          text-shadow: 1px 1px #ddd;

          &:hover {
            color: #26ed8b;
            text-shadow: 1px 1px #1fb769;;
          }
        }
      }
    }
  }

  .header-logo-wrap {
    padding: 10px;

    .header-logo {
      img {
        width: auto;
        max-height: 60px;
      }
    }
  }

  .snapkin-service-top {
    background: image-url('top_01.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 320px;

    .snapkin-service-top-background {
      background-color: rgba(255,255,255,0.5);
      box-shadow: rgba(255,255,255,0.5) 0px 0px 50px 50px;
    }
  }

  footer {
    background-image: linear-gradient(-90deg, #BBFF4D, #4DF6FF);

    small {
      color: #fff;
      text-shadow: 1px 1px #bbb;
    }
  }
}
